<!-- "page-content begin -->
<div class="page-content page-md-content page-lg-content">

    <!-- page-breadcrumb begin -->
    <div class="panel panel-breadcrumb">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li>
                    <a href="{{urlfor "AdminUserController.List"}}"><i class="fa icon-home"></i> 管理员列表</a>
                </li>
                <li class="active">
                    添加管理员
                </li>
            </ol>
        </div>
    </div>
    <!-- page-breadcrumb close -->

    <!-- panel-person begin -->
    <div class="panel panel-person">
        <div class="panel-body">
            <div class="details-list">
                <div class="details-header">
                    <ul class="row">
                        <li class="col-md-12">添加管理员</li>
                    </ul>
                </div>

                <div class="details-body">

                    <form role="form" action="{{urlfor "AdminUserController.Add"}}" method="post" id="userForm">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>管理员名称</label>
                                    <ul>
                                        <li>
                                            <input type="text" name="real_name"
                                                   class="form-control form-focus-primary" placeholder="请输入您的姓名"
                                                   value="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>密码</label>
                                    <ul>
                                        <li>
                                            <input type="password" name="password" class="form-control form-focus-primary"
                                                   placeholder="请输入密码" value="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>重复密码</label>
                                    <ul>
                                        <li>
                                            <input type="password" name="repassword" class="form-control
                                            form-focus-primary" placeholder="请确认密码" value="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                         <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>手机号码</label>
                                    <ul>
                                        <li>
                                            <input type="text" name="phone" class="form-control form-focus-primary"
                                                   value=""  placeholder="请输入手机号">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>邮箱地址</label>
                                    <ul>
                                        <li>
                                            <input type="text" name="email" class="form-control form-focus-primary"
                                                   placeholder="请输入您的邮箱" value="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-block btn-primary " id="btnAddUser">保存</button>
                            </div>
                            <div class="col-md-2">
                                <button type="reset" class="btn btn-block btn-danger " >重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- panel-person close -->
<script type="text/javascript" src="{{.website}}js/site.js"></script>