
<div class="breadcrumb___3SR1l">
    <div class="oversea-breadcrumb">
        <span>
            <span class="oversea-breadcrumb-link">
                <a class="back___2xxr1" href="{{urlfor "AdminUserController.List"}}">
                    <i class="anticon anticon-left"></i>
                </a>
            </span>
            <span class="oversea-breadcrumb-separator"></span>
        </span>
        <span>
            <span class="oversea-breadcrumb-link">
                <span class="pageTitle___2WMeG">添加管理员</span></span>
            <span class="oversea-breadcrumb-separator"></span>
        </span>
    </div>
</div>
<div class="oversea-row">
    <div class="oversea-col-24">
        <form class="oversea-form oversea-form-horizontal" action="{{urlfor "AdminUserController.Add"}}" method="post" id="userForm">
            <div class="panel___35TIy">
                <div class="header___19HLM clearfix___1B55C">
                    <h3 class="title___283kT">基本信息</h3>
                    <span class="help___3n8W3"></span>
                </div>
                <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                    <div class="oversea-col-4 oversea-form-item-label">
                        <label class="oversea-form-item-required" title="登陆账号" >登陆账号</label></div>
                    <div class="oversea-col-10 oversea-form-item-control-wrapper">
                        <div class="oversea-form-item-control ">
                            <input type="text" name="real_name" placeholder="登录账户" class="oversea-input
                            oversea-input-lg" value="">
                        </div>
                    </div>
                </div>

                <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                    <div class="oversea-col-4 oversea-form-item-label">
                        <label for="tel" class="oversea-form-item-required" title="手机号">手机号</label></div>
                    <div class="oversea-col-10 oversea-form-item-control-wrapper">
                        <div class="oversea-form-item-control has-success">
                            <input type="text" placeholder="手机号" class="oversea-input oversea-input-lg" value=""
                                   id="tel"  name="phone"></div>
                    </div>
                </div>

                <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                    <div class="oversea-col-4 oversea-form-item-label">
                        <label for="email" class="oversea-form-item-required" title="邮箱">邮箱</label></div>
                    <div class="oversea-col-10 oversea-form-item-control-wrapper">
                        <div class="oversea-form-item-control has-success">
                            <input type="text" placeholder="请输入邮箱" class="oversea-input oversea-input-lg" id="email" name="email"
                            ></div>
                    </div>
                </div>

                <div>
                    <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                        <div class="oversea-col-4 oversea-form-item-label">
                            <label for="password" class="oversea-form-item-required" title="请输入密码">密码</label></div>
                        <div class="oversea-col-10 oversea-form-item-control-wrapper">
                            <div class="oversea-form-item-control ">
                                <input type="password" name="password" placeholder="请输入密码" class="oversea-input
                                oversea-input-lg" value="">
                            </div>
                        </div>
                    </div>
                    <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                        <div class="oversea-col-4 oversea-form-item-label">
                            <label for="repassword" class="oversea-form-item-required" title="请确认密码">重复密码</label></div>
                        <div class="oversea-col-10 oversea-form-item-control-wrapper">
                            <div class="oversea-form-item-control ">
                                <input type="password" name="repassword" placeholder="请确认密码" class="oversea-input oversea-input-lg" value="" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="oversea-row oversea-form-item oversea-form-item-no-colon">
                    <div class="oversea-col-4 oversea-form-item-label">
                        <label class="" title=" "></label>
                    </div>
                    <div class="oversea-col-20 oversea-form-item-control-wrapper">
                        <div class="oversea-form-item-control ">
                            <button type="submit" class="oversea-btn btnSecondary___31mKp">
                                <span>保 存</span></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
    <!-- panel-person close -->
<script type="text/javascript" src="{{.website}}js/site.js"></script>