<div class="oversea-row" style="margin-left: -10px; margin-right: -10px;">

    <div class="actions___1fT2D clearfix___1B55C">
        <button type="button" class="oversea-btn oversea-btn-primary">
            <span>新建文章</span></button>
        <button type="button" class="oversea-btn oversea-btn-primary">
            <span>新建图集</span></button>
        <button type="button" class="oversea-btn oversea-btn-primary">
            <span>新建视频</span></button>


        <div class="rightActions___2fGLs">
            <div class="oversea-select-sm filter___2IU0N oversea-select oversea-select-enabled">
                <div class="oversea-select-selection
                oversea-select-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true"
                     aria-expanded="false" tabindex="0">
                    <div class="oversea-select-selection__rendered">
                        <div class="oversea-select-selection-selected-value" title="1" style="display: block; opacity: 1;
">全部状态</div></div>
                    <span class="oversea-select-arrow" unselectable="unselectable" style="user-select: none;">
                        <b>
                        </b>
                    </span>
                </div>
            </div>

            <span class="oversea-input-group oversea-input-group-compact searchWrap___36MsM">
                <span class="oversea-input-affix-wrapper" style="width: 169px;margin-right: -2px">
                    <input type="text" placeholder="搜索标题" value="" class="oversea-input oversea-input-lg"></span>
                <button type="button" class="oversea-btn searchIcon___3K2HQ oversea-btn-sm">
                    <i class="anticon anticon-search"></i>
                </button>
            </span>
            <button type="button" class="oversea-btn">
                <i class="iconfont___48nuJ icon-upload___2gohI icon___1Frhf"></i>
                <span>投递</span></button>
            <button type="button" class="oversea-btn">
                <i class="iconfont___48nuJ icon-delete___2dgs- icon___1Frhf"></i>
                <span>删除</span></button>
        </div>
    </div>

   <!-- <div class="actions___1hcMj">
        <div class="oversea-row">
            <div class="oversea-col-6">
                <div class="filter___2IU0N oversea-select oversea-select-enabled">
                    <div class="oversea-select-selection
                    oversea-select-selection--single" role="combobox" aria-autocomplete="list" aria-haspopup="true"
                         aria-expanded="false" tabindex="0">
                        <div class="oversea-select-selection__rendered">
                            <div class="oversea-select-selection-selected-value" title="推荐" style="display: block;
                            opacity: 1;">
                                <div>
                                    <span>推荐</span>
                                    <span class="tips___1Vgmz">全部直发</span></div>
                            </div>
                        </div>
                        <span class="oversea-select-arrow" unselectable="unselectable" style="user-select: none;">
                            <b>
                            </b>
                        </span>
                    </div>
                </div>
            </div>
            <div class="oversea-col-18">
                <div class="rightActions___2mWhn">
                    <button type="button" class="oversea-btn oversea-btn-primary">
                        <i class="iconfont___48nuJ icon-check___3cjTY iconPrimary___3sX1x"></i>
                        <span>审核通过</span></button>
                    <button type="button" class="oversea-btn">
                        <i class="iconfont___48nuJ icon-close___2kNly icon___1IjEF"></i>
                        <span>拒绝通过</span></button>
                    <button type="button" class="oversea-btn">
                        <i class="iconfont___48nuJ icon-setting___3IKR7 icon___1IjEF"></i>
                        <span>审核设置</span></button>
                    <button type="button" class="oversea-btn">
                        <i class="iconfont___48nuJ icon-filter___F7Z-O icon___1IjEF"></i>
                        <span>过滤设置</span></button>
                </div>
            </div>
        </div>
    </div> -->

    <div class="oversea-table-wrapper">
        <div class="oversea-spin-nested-loading">
            <div class="oversea-spin-container">
                <div class="oversea-table oversea-table-middle oversea-table-scroll-position-left">
                    <div class="oversea-table-content">
                        <div class="oversea-table-body">
                            <table class="">
                                <colgroup>
                                    <col>
                                        <col>
                                            <col style="width: 6em; min-width: 6em;">
                                                <col>
                                                    <col>
                                                        <col></colgroup>
                                <thead class="oversea-table-thead">
                                    <tr>
                                        <th class="oversea-table-selection-column">
                                            <span>
                                                <div class="oversea-table-selection">
                                                    <label class="oversea-checkbox-wrapper">
                                                        <span class="oversea-checkbox">
                                                            <input type="checkbox" class="oversea-checkbox-input"
                                                                   value="on">
                                                            <span class="oversea-checkbox-inner"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </span>
                                        </th>
                                        <th class=""><span>昵称</span></th>
                                        <th class=""><span>性别</span></th>
                                        <th class=""><span>手机</span></th>
                                        <th class=""><span>邮箱</span></th>
                                        <th class=""><span>最后登录时间</span></th>
                                        <th class=""><span>最后登录ip</span></th>
                                        <th class="textAlignCenter___1rfVB"><span>操作</span></th>
                                    </tr>
                                </thead>
                                <tbody class="oversea-table-tbody">
                                    {{range $k,$v := .userList}}
                                    <tr class="oversea-table-row previewSelected___3jvxF oversea-table-row-level-0">
                                        <td class="oversea-table-selection-column">
                                            <span>
                                                <label class="oversea-checkbox-wrapper">
                                                    <span class="oversea-checkbox">
                                                        <input type="checkbox" class="oversea-checkbox-input"
                                                               value="on" data-id="{{$v.Id}}">
                                                        <span class="oversea-checkbox-inner"></span>
                                                    </span>
                                                </label>
                                            </span>
                                        </td>
                                        <td class="">
                                            <span class="oversea-table-row-indent indent-level-0"
                                                  style="padding-left: 0px;"></span>
                                            <div class="rowTitle___3CsKe">
                                                <a href="javascript: void(0);">{{$v.UserName}}
                                                   </a>
                                            </div>
                                        </td>
                                        <td class=""> {{$v.Sex}}</td>
                                        <td class="">{{$v.Phone}} </td>
                                        <td class="">{{$v.Email}}</td>
                                        <td class=""><span class="appChannel___2Qhqo">{{$v.LastLogin}}</span></td>
                                        <td class=""><span class="cmsTag___Jwqme" style="color: rgb(30, 164, 132); background-color: rgb(203, 244, 234); width: 68px;">{{$v.LastIp}}</span></td>
                                        <td class="textAlignCenter___1rfVB">
                                            <span class="tableActions___1TxK0">
                                                <a class="actionLink___2IjwD" href="javascript: void(0);">下架</a></span>
                                        </td>
                                    </tr>
                                    {{end}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>