
<section class="content contact">
    {{str2html  .breadcrumb}}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card action_bar">
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-lg-1 col-md-2 col-3">
                                <div class="checkbox inlineblock delete_all">
                                    <input id="deleteall" type="checkbox">
                                    <label for="deleteall">
                                        全部
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-6">
                                <div class="input-group search">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-addon">
                                        <i class="zmdi zmdi-search"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-5 col-3 text-right">
                                <div class="btn-group hidden-sm-down" role="group">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-neutral dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="zmdi zmdi-label"></i>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right pullDown">
                                            <li>
                                                <a href="javascript:void(0);">Family</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Work</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);">Google</a>
                                            </li>
                                            <li role="separator" class="divider"></li>
                                            <li>
                                                <a href="javascript:void(0);">Create a Label</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-neutral hidden-sm-down">
                                    <i class="zmdi zmdi-plus-circle"></i>
                                </button>
                                <button type="button" class="btn btn-neutral hidden-sm-down">
                                    <i class="zmdi zmdi-archive"></i>
                                </button>
                                <button type="button" class="btn btn-neutral">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-hover m-b-0 c_list">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="">昵称</th>
                                    <th data-breakpoints="xs">性别</th>
                                    <th class="">手机</th>
                                    <th data-breakpoints="xs">邮箱</th>
                                    <th data-breakpoints="xs">最后登录时间</th>
                                    <th data-breakpoints="xs">最后登录ip</th>
                                    <th data-breakpoints="xs">操作</th>
                                </tr>
                            </thead>
                                <tbody>
                                {{range $k,$v := .userList}}
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="delete_{{$k}}" type="checkbox">
                                            <label for="delete_{{$k}}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="assets/images/xs/avatar1.jpg" class="rounded-circle
                                        avatar" alt="">
                                        <p class="c_name">{{$v.UserName}}<!--<span class="badge badge-default m-l-10 hidden-sm-down">Family</span>--></p>
                                    </td>
                                    <td>
                                        {{$v.Sex}}
                                    </td>
                                    <td>
                                        <span class="phone"><i class="zmdi zmdi-phone m-r-10"></i>{{$v.Phone}}</span>
                                    </td>
                                    <td>
                                        <span class="email"><i class="zmdi zmdi-email m-r-10"></i>{{$v.Email}}</span>
                                    </td>
                                    <td> {{date $v.LastLogin "Y-m-d H:i:s"}}</td>
                                    <td>{{$v.LastIp}}</td>
                                    <td>
                                        <button class="btn btn-icon btn-neutral btn-icon-mini"><i class="zmdi zmdi-edit"></i></button>
                                        <button class="btn btn-icon btn-neutral btn-icon-mini"><i class="zmdi zmdi-delete"></i></button>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>
                {{str2html  .pageBar}}
            </div>
        </div>

    </div>
</section>

