<style>
    .img_bg {
        background-color: #b63327;
        display: inline-block;
        padding: 12px;
        box-sizing: border-box;
        border-radius: 30px;
    }

    .img_bg img {
        width: 24px;
        height: 24px;
    }

    .our-example-popover .popover {
        background: #ffffff;
        border: none;
    }


</style>
<div class="bs-example" data-example-id="carousel-with-captions">
    <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-captions" data-slide-to="0" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="2" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="3" class=""></li>
            <li data-target="#carousel-example-captions" data-slide-to="4" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img data-src="holder.js/900x500/auto/#777:#777" alt="900x500"
                     src="{{.website}}images/20180322103132703-2402_b.jpg"
                     data-holder-rendered="true">
                <div class="carousel-caption">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
            </div>
            <div class="item">
                <img alt="900x500"
                     src="{{.website}}images/20180322103110703-4895_b.jpg"
                     data-holder-rendered="true">
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <img alt="900x500"
                     src="{{.website}}images/20180322103045703-4684_b.jpg"
                     data-holder-rendered="true">
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <img alt="900x500"
                     src="{{.website}}images/20180322103026703-8461_b.jpg"
                     data-holder-rendered="true">
                <div class="carousel-caption">
                    <h3>Second slide label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item active">
                <img alt="900x500"
                     src="{{.website}}images/20180322102935703-1578_b.jpg"
                     data-holder-rendered="true">
                <div class="carousel-caption">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- 全屏轮播图 -->

<!--世桥海外简介-->
<div class="index-row our-data" style="padding-bottom: 0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1">世桥海外</h2>
                <p>
                    <small style="color: #b63327">世界那么大，带您去看看！</small>
                </p>
            </div>

        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-2"></div>
                <div class="col-sm-3 our-data-item ">
                    <img src="{{.website}}images/20170904113044128-7843.jpg" width="100%">
                </div>
                <div class="col-sm-6">
                    <img src="{{.website}}images/20170904113109128-5264.jpg" width="100%">
                </div>
                <div class="col-sm-12 our-data-item " id="gallery" style="font-size: 12px;padding-top: 40px;">

                    <p class="" style="font-size: 20px">搭建联动世界的投资桥梁，开启您的国际化生活方式！</p>
                    <div>
                        <p>世桥海外是一家专业的出国移民机构，为客户提供美国、加拿大、欧洲、澳洲、英联邦等国的投资移民、海外置业、出国签证、商务培训四大版块的顾问咨询服务。</p>

                        <p>公司创始团队均在投资移民及金融行业从业多年，其创始人Cathy HU女士更在这一领域拥有15年的高端客户服务经验，是移民行业资深专家。</p>

                        <p>对出国移民政策、项目把控、申请流程、文案处理、移民后服务等全过程都经验丰富。</p>

                        <p>世桥海外秉持“VIP客户私人订制”的服务理念，打造专业的专家服务团队，为您搭建通向世界的桥梁。</p>
                    </div>
                    <p style="margin-top: 40px">
                        <a class="btn btn-default" href="#"
                           style="display: inline-block;padding: 10px 70px;border: 1px solid #434343;color: #434343">了解更多</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<!--世桥海外简介-->
<!--为什么选择我们-->
<div class="index-row our-example chose_bg" style="margin-top: 40px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1" style="color: #ffffff">为什么选择我们</h2>
            </div>
            <div class="row ">
                <div class="col-sm-3"></div>
                <div class="col-sm-2 our-example-box mr-40">
                    <div class="our-example-popover">
                        <div class="popover ">
                            <div class="arrow"></div>
                            <h3 class="popover-title-touxiang">
                                <div class="img_bg">
                                    <img src="{{.website}}images/20170904020526128-4849.png">
                                </div>
                            </h3>

                            <div class="popover-content text-center">
                                <h4>VIP客户私人定制服务</h4>
                                <p class="popover-content-text">以专业的VIP订制服务，搭建您通向世界的桥梁！</p>
                            </div>
                        </div>
                    </div>
                    <figure class="glly-icon ac-figure-icon"></figure>
                </div>
                <div class="col-sm-2 our-example-box ">
                    <div class="our-example-popover">
                        <div class="popover ">
                            <div class="arrow"></div>
                            <h3 class="popover-title-touxiang">
                                <div class="img_bg">
                                    <img src="{{.website}}images/20170904022313128-57.png">
                                </div>
                            </h3>

                            <div class="popover-content text-center">
                                <h4>完善的服务流程</h4>
                                <p class="popover-content-text">海外政策、项目把控、申请流程、文案处理、移民后服务等全过程。</p>
                            </div>
                        </div>
                    </div>
                    <figure class="glly-icon ac-figure-icon"></figure>
                </div>
                <div class="col-sm-2 our-example-box ml-40">
                    <div class="our-example-popover">
                        <div class="popover ">
                            <div class="arrow"></div>
                            <h3 class="popover-title-touxiang">
                                <div class="img_bg">
                                    <img src="{{.website}}images/20170904022335128-8278.png">
                                </div>
                            </h3>

                            <div class="popover-content text-center">
                                <h4>顶级团队优势</h4>
                                <p class="popover-content-text">移民行业专家，资产配置管家；成员均从事移民行业超10年工作经验；持牌移民顾问</p>
                            </div>
                        </div>
                    </div>
                    <figure class="glly-icon ac-figure-icon"></figure>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--为什么选择我们-->
<!--服务人数-->
<div class="index-row our-data">
    <div class="container">
        <div class="row">

            <div class="col-sm-3 our-data-item sum-apply">
                <div class="">
                    <span id="sum-apply" class="" data-to="240">
                        <img src="{{.website}}images/20170904022709128-9380.png">
                    </span>
                </div>
                <div class="">
                    <span id="sum-apply" class="" style="font-size: 46px;">70,101</span>
                </div>
                <h4 class="title">出国人群</h4>
            </div>
            <div class="col-sm-3 our-data-item sum-apply">
                <div class="">
                    <span id="sum-apply" class="">
                         <img src="{{.website}}images/20170904023208128-1421.png">
                    </span>
                </div>
                <div class="">
                    <span id="sum-apply" class="" style="font-size: 46px;">109</span>
                </div>
                <h4 class="title">移路精彩</h4>
            </div>
            <div class="col-sm-3 our-data-item sum-apply">
                <div class="">
                    <span id="sum-apply" class="">
                         <img src="{{.website}}images/20170904023241128-2780.png">
                    </span>
                </div>
                <div class="">
                    <span id="sum-apply" class="" style="font-size: 46px;">98</span>
                </div>
                <h4 class="title">客户满意</h4>
            </div>
            <div class="col-sm-3 our-data-item sum-apply">
                <div class="">
                    <span id="sum-apply" class="">
                         <img src="{{.website}}images/20170904023309128-2240.png">
                    </span>
                </div>
                <div class="">
                    <span id="sum-apply" class="" style="font-size: 46px;">10,976</span>
                </div>
                <h4 class="title">为世桥点赞</h4>
            </div>

        </div>
    </div>
</div>
<!--服务人数-->
<!--新闻中心-->
<div class="index-row our-service">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1">新闻中心</h2>

            {{/*<p class="line line-big"></p>*/}}

                <h4>
                    <small>News</small>
                </h4>
            </div>
            <div class="col-sm-12 text-center card-box">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">
                    <img src="{{.website}}images/20170904030626128-8332.jpg" width="100%">
                </div>
            {{/*<div class="col-sm-1"></div>*/}}
                <div class="col-sm-3 text-left" style="margin-left: 60px;">
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="改革梦碎！EB-5投资移民无条件续命930">改革梦碎！EB-5投资移民无条件续命930</a>
                                <div class="newsTime">2018-03-23</div>
                                <div class="newsIntro"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="一步到位移民加拿大！这次，可别错过机会了！">一步到位移民加拿大！这次，可别错过机会了！</a>
                                <div class="newsTime">2018-03-23</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="史上最严! 川普政府移民执法造成全国学生恐惧">史上最严! 川普政府移民执法造成全国学生恐惧</a>
                                <div class="newsTime">2018-03-23</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="注意！澳洲入境新规生效！申报政策悄然变更！">注意！澳洲入境新规生效！申报政策悄然变更！</a>
                                <div class="newsTime">2018-03-23</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="最新澳洲买房政策盘点！FIRB申请费上调！">最新澳洲买房政策盘点！FIRB申请费上调！</a>
                                <div class="newsTime">2018-03-23</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 news">
                        <div class="newsBox clearfix newsList">
                            <div class="newsBody"><a class="newsTitle" href="#"
                                                     title="最新澳洲买房政策盘点！FIRB申请费上调！">最新澳洲买房政策盘点！FIRB申请费上调！</a>
                                <div class="newsTime">2018-03-23</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-sm-12 text-center">
                <p style="margin-top: 40px">
                    <a class="btn btn-default" href="#"
                       style="display: inline-block;padding: 10px 70px;border: 1px solid #434343;color: #434343">更多新闻</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!--新闻中心-->
<!--我们的优势-->
<div class="index-row  ob_bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <h2 class="h1" style="color: #ffffff;">热门项目</h2>
                <h2>
                    <small>美国投资移民、加拿大投资移民、澳洲投资移民、英联邦护照项目</small>
                </h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="美国投资移民">
                            <img class="proPhoto" src="{{.website}}images/20180323070157703-5743_m.jpg" alt="美国投资移民">
                        </a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="美国投资移民">美国投资移民</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="澳大利亚移民">
                            <img class="proPhoto" src="{{.website}}images/20180323070640703-1038_m.jpg" alt="澳大利亚移民">
                        </a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="澳大利亚移民">澳大利亚移民</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="加拿大移民">
                            <img class="proPhoto" src="{{.website}}images/20180323070731703-3256_m.jpg" alt="加拿大移民">
                        </a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="加拿大移民">加拿大移民</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 text-center">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="英联邦护照">
                            <img class="proPhoto" src="{{.website}}images/20180323070927703-1563_m.jpg" alt="英联邦护照">
                        </a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="英联邦护照">英联邦护照</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--我们的优势-->



<script>

</script>