
<!--面包屑-->
<div class="index-row crumbs" style="padding-top: 150px;padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <p>ABOUT US</p>
                <p class="line line-big" style="border-top: 1px solid #ffffff;"></p>
                <h2 style="font-size: 30px;">
                   <b>关于我们</b>
                </h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
              <span class=""></span>
              <a href="#" class="text-white">首页</a> &gt; <a href="#" class="text-white">关于我们</a></a>
            </div>
        </div>
    </div>
</div>
<!--面包屑-->
<!--企业简介-->
<div class="index-row">
<div class="container container-xu">
	  <div class="row">
	    	  <div class="col-xs-12 content-left" style="width: 100%;">

	    	  	<div class="col-xs-12 content-nav order-nav">
	    	  		<div class="about-tab">
		    	  		<a href="#" class="active">关于我们</a>
                        <a href="#" class="">安居服务</a>
		    	  	</div>
	    	  	</div>
                  <!--/.er-nav-->
	    	  	<div class="col-xs-12 content-order background-white">
				    <div class="detail-content" >
                        <p style="text-align:center">
                            <span style="font-size:16px">
                                <strong>世桥海外</strong></span>
                        </p>
                        <p style="text-align:center">搭建联动世界的投资桥梁，开启您的国际化生活方式！</p>
                        <p style="text-align:center">世界那么大，带您去看看！</p>
                        <p>&nbsp;</p>
                        <p>■&nbsp; &nbsp; &nbsp;世桥海外是一家专业的出国移民机构，为客户提供美国、加拿大、欧洲、澳洲、英联邦等国的投资移民、海外置业、出国签证、商务培训四大版块的顾问咨询服务。公司创始团队均在投资移民及金融行业从业多年，其创始人Cathy HU女士更在这一领域拥有15年的高端客户服务经验，是移民行业资深专家。对出国移民政策、项目把控、申请流程、文案处理、移民后服务等全过程都经验丰富。世桥海外坚持“VIP客户私人订制服务”的发展理念，以专业的服务团队，搭建通向世界的桥梁，为您的家庭和事业保驾护航！</p>
                        <p>&nbsp;</p>
                        <p>■&nbsp; &nbsp; &nbsp;世桥海外业务：投资移民、海外置业、出国签证、商务培训</p>
                        <p>1、投资移民：美国投资移民、加拿大投资移民、澳洲投资移民、英联邦护照项目</p>
                        <p>2、海外置业：美国，加拿大，澳洲，欧洲</p>
                        <p>3、出国签证：美国、加拿大、澳大利亚、新西兰，欧洲等国旅游和商务签证</p>
                        <p>4、商务培训：商务礼仪，高端游学等。</p>
                        <p>&nbsp;</p>
                        <p>■&nbsp; &nbsp; &nbsp;世桥海外团队优势：</p>
                        <p>移民行业专家，资产配置管家，</p>
                        <p>公司团队成员，均从事移民行业超10年工作经验，并均来自知名移民集团，</p>
                        <p>合作机构均为业内领军品牌，</p>
                        <p>加拿大持牌移民专家陆小姐作为世桥海外加拿大项目特别顾问。</p>
                        <p>■&nbsp; &nbsp; &nbsp;世桥海外创始人：</p>
                        <p>Cathy HU女士：领域拥有15年的高端客户服务经验，是移民行业资深专家。曾担任多知名移民集团分公司总经理及副总裁职务。对各国出国移民政策、法律处理、项目把控、申请流程、文案处理、移民后服务等全过程都经验丰富。</p>
                        <p>&nbsp;</p>
                        <p>■&nbsp; &nbsp; &nbsp;世桥海外文化</p>
                        <p>愿景： 细节决定成败，选择成就未来！</p>
                        <p>使命： 搭建联动世界的投资桥梁，开启您的国际化生活方式！</p>
                        <p>价值观： 诚信负责、专业高效</p>
                    </div>

                    <div class="detail-content" style="display: none">
                        <p style="text-align:center"><span style="font-size:16px"><strong>安居服务</strong></span></p>

                        <p style="text-align:center">&nbsp;</p>

                        <p><!--StartFragment --></p>

                        <ul>
                            <li>协助安排第一次入境报到机场接送;</li>
                            <li>协助办理银行开户手续;</li>
                            <li>协助申领社会安全卡;</li>
                            <li>协助预订酒店;</li>
                            <li>协助订购目的地机票;</li>
                            <li>协助联系驾驶学校并介绍驾照考试信息;</li>
                            <li>协助联系搬家服务;</li>
                            <li>协助联系房产经纪人，协助办理租房或购房相关事宜;</li>
                            <li>协助办理购房按揭贷款;</li>
                            <li>协助联系学区，协助办理子女入学手续;</li>
                            <li>协助介绍律师、会计师办理主合同之外的事项。</li>
                        </ul>
                    </div>
				    <div class="clear"></div>
	    	  	</div>
                  <!--/.order-->
	    	  </div>
          <!--/.er-left-->

	  </div>
	</div>
</div>
<!--企业简介-->