<!DOCTYPE html>
<html lang="en">
<head>
    {{.Header}}
</head>
<body id="oversea-cms">
    <div class="layout___1t_P1 ant-layout">
        {{.Navbar}}
        <div class="oversea-layout oversea-layout-has-sider">
           {{.Sidebar}}
           {{ .Footer}}
               <div class="oversea-layout" style="margin-left: 180px;">
                   <div class="oversea-layout-content" style="height: 100%; position: relative;">
                       <div class="review___1Sljm review">
                           {{.LayoutContent}}
                       </div>
                   </div>
               </div>

        </div>

    </div>
</body>
</html>