<style>

     .proTitle {
         color: #434343;
     }
</style>
<!--面包屑-->
<div class="index-row crumbs" style="padding-top: 150px;padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <p>IMMIGRATION PROJECT</p>
                <p class="line line-big" style="border-top: 1px solid #ffffff;"></p>
                <h2 style="font-size: 30px;">
                   <b>移民项目</b>
                </h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
              <span class=""></span>
              <a href="#" class="text-white">首页</a> &gt; <a href="#" class="text-white">移民项目</a></a>
            </div>
        </div>
    </div>
</div>
<!--面包屑-->
<!--项目列表-->
<div class="index-row background-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 main-title"></div>
            <div class="col-sm-6 main-title">
                <ul class="travel-type-list">
                    <li>
                        <a href="#" class="active">投资移民</a></li>
                    <li>
                        <a href="#">海外置业</a></li>
                    <li>
                        <a href="#">出国签证</a></li>
                    <li>
                        <a href="#">商考培训</a></li>
                </ul>
            </div>
            <div class="col-sm-3 main-title"></div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="游学留学">
                            <img class="proPhoto" src="http://www.sq-overseas.com/website/703/upload/20180323073415703-8578_m.jpg" alt="游学留学"></a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="游学留学">游学留学</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="商务培训">
                            <img class="proPhoto" src="http://www.sq-overseas.com/website/703/upload/20180323073517703-7999_m.jpg" alt="商务培训"></a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="商务培训">商务培训</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="商务考察">
                            <img class="proPhoto" src="http://www.sq-overseas.com/website/703/upload/20180323073619703-9181_m.jpg" alt="商务考察"></a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="商务考察">商务考察</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="欧洲申根区26国旅游签证">
                            <img class="proPhoto" src="http://www.sq-overseas.com/website/703/upload/20180322060006703-3596_m.jpg" alt="欧洲申根区26国旅游签证"></a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="欧洲申根区26国旅游签证">欧洲申根区26国旅游签证</a></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="proBox">
                    <div class="proImgBox">
                        <a href="#" title="亚洲签证">
                            <img class="proPhoto" src="http://www.sq-overseas.com/website/703/upload/20180323073132703-9498_m.jpg" alt="亚洲签证"></a>
                    </div>
                    <div class="proBody">
                        <a class="proTitle" href="#" title="亚洲签证">亚洲签证</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center" >
                <div class="pageBox"><div class="pager-wrapper clearfix"><ul class="pagination"><li><a class="page-link" href="javascript:;" data-page="1">首页</a></li><li><a class="page-link" href="javascript:;" data-page="2">上一页</a></li><li><a class="page-link" href="javascript:;" data-page="1">1</a></li><li><a class="page-link" href="javascript:;" data-page="2">2</a></li><li class="active"><a class="page-link" data-page="3">3</a></li><li class="disabled"><a class="page-link">下一页</a></li><li class="disabled"><a class="page-link">尾页</a></li></ul></div></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
<!--项目列表-->
