
<!--面包屑-->
<div class="index-row crumbs" style="padding-top: 150px;padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 main-title">
                <p>NEWS</p>
                <p class="line line-big" style="border-top: 1px solid #ffffff;"></p>
                <h2 style="font-size: 30px;">
                   <b>新闻资讯</b>
                </h2>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12">
              <span class=""></span>
              <a href="#" class="text-white">首页</a> &gt; <a href="#" class="text-white">新闻资讯</a></a>
            </div>
        </div>
    </div>
</div>
<!--面包屑-->
<!--新闻资讯-->
<div class="index-row background-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 main-title"></div>
            <div class="col-sm-6 main-title">
                <ul class="travel-type-list">
                    <li>
                        <a href="#" class="active">最新活动</a></li>
                    <li>
                        <a href="#">公司动态</a></li>
                    <li>
                        <a href="#">移民政策</a></li>
                    <li>
                        <a href="#">移民生活</a></li>
                </ul>
            </div>
            <div class="col-sm-3 main-title"></div>
        </div>

        <div class="row">

        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 text-center">
                <div class="pageBox"><div class="pager-wrapper clearfix"><ul class="pagination"><li><a class="page-link" href="javascript:;" data-page="1">首页</a></li><li><a class="page-link" href="javascript:;" data-page="2">上一页</a></li><li><a class="page-link" href="javascript:;" data-page="1">1</a></li><li><a class="page-link" href="javascript:;" data-page="2">2</a></li><li class="active"><a class="page-link" data-page="3">3</a></li><li class="disabled"><a class="page-link">下一页</a></li><li class="disabled"><a class="page-link">尾页</a></li></ul></div></div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
</div>
<!--新闻资讯-->
