.page-header {
  position: fixed;
  top: 0;
  z-index: 1024;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 60px;
  font-size: 14px;
  border: 0;
}
.navbar-header {
  color: #b4b6bd;
  background-color: #3a3f51;
  -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2); 
}
.navbar-header a {
  color: #b4b6bd;
}
.navbar-header a:hover {
  color: #fff;
}
.navbar-header > button {
  padding: 15px 20px;
  max-width: 60px;
  line-height: 30px;
  font-size: 18px;
  background-color: transparent;
  border: none;
}
.navbar-header .navbar-brand {
  display: inline-block;
  padding: 10px 10px 10px 20px;
  height: 80px;
  line-height: 60px;
  text-align: center;
}
.navbar-header .navbar-brand img {
  display: inline-block;
  width:80px; 
  height:auto;
}
.navbar-header .navbar-brand > span > img {
  width: 64px;
  height: auto;
}

.navbar-collapse.collapse {
  padding: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
}
.navbar-collapse.collapse a {
  color: #666;
}
.navbar-collapse.collapse a:hover,
.navbar-collapse.collapse a:focus {
  color: #5bc0de;
}
.navbar-collapse.collapse .navbar-nav {
  padding: 0;
  margin: 0;
}
.navbar-collapse.collapse .navbar-nav > li > a:hover, 
.navbar-collapse.collapse .navbar-nav > li > a:focus {
  background-color: #fff;
}
.navbar-collapse.collapse .navbar-nav > li > a .up {
  position: relative;
  top: -12px;
  padding-top: 1px;
  margin-left: -2px;
  min-width: 32px;
  text-align: center;
}
.navbar-collapse.collapse .navbar-nav > li > a i.icon-new {
  position: relative;
  top: -5px;
  left: -10px;
  font-size: 28px;
}
.navbar-collapse.collapse .navbar-nav > li > a i.icon-hot1 {
  position: relative;
  top: -5px;
  left: -10px;
  font-size: 28px;
}
.navbar-collapse.collapse .navbar-nav > li > a .thumb-sm {
  display: inline-block;
  width: 36px;
}
.navbar-collapse.collapse .navbar-nav > li > a .thumb-sm img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.navbar-collapse.collapse .dropdown-menu {
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.08);
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.08);
  box-shadow: 0 2px 2px rgba(0,0,0,.08);
} 
.navbar-collapse.collapse .navbar-nav > li > .dropdown-menu {
  padding: 0;
  margin-top: -1px;
  min-width: 360px;
}
.navbar-collapse.collapse .dropdown-menu > li > a {
  padding: 15px 20px;
}

.nav-menu.nav > li > a:hover,
.nav-menu.nav > li.open > a,
.nav-menu.nav > li.open > a:focus,
.nav-menu.nav > li.active > a {
  background: none scroll 0 0 #fafafa;
  border-color: #f3f3f3;
}
.nav-menu.nav > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.nav-menu.nav > li .caret {
  margin-left: 5px;  
}

.nav-menu.nav .dropdown-menu > li > a {
  position: relative;
}
.nav-menu.nav .dropdown-menu > li.active > a {  
  color: #333;
  background-color: #f5f5f5
}
.nav-menu.nav .dropdown-menu > li > a:before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  display: block;
  height: 1px;
  content: " ";
  background-color: #e6e6e6
}
.nav-menu.nav .dropdown-menu > li:last-child a:before {
  background-color: transparent;
}

.nav-userinfo.nav > li > a:hover,
.nav-userinfo.nav > li.open > a,
.nav-userinfo.nav > li.open > a:focus {
  background: none scroll 0 0 #fff;
  border-color: #f3f3f3;
}
.nav-userinfo.nav > li > a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  z-index: 2;
}
.nav-userinfo.nav > li > a.profile-inner:before {
  position: absolute;
  top: 0px;
  right: -1px;
  left: -1px;
  display: none;
  height: 2px;
  content: '';
  background: none scroll 0 0 #46b8da;
}
.nav-userinfo.nav > li.open > a.profile-inner:before {
  display: block;
}
.nav-userinfo.nav > li .caret {
  margin: 0 5px;
}
.nav-userinfo.nav > li i {
  font-size: 16px;  
  vertical-align: 0;
}

/*.nav-userinfo.nav > li .dropdown-menu.messages,
.nav-userinfo.nav > li .dropdown-menu.notifications,
.nav-userinfo.nav > li .dropdown-menu.user-profile-menu {
  z-index: 1;
}
.nav-userinfo.nav > li .dropdown-menu.user-profile-menu {
  right: 1px;
}
.nav-userinfo.nav > li .dropdown-menu.notifications {
  border-color: #f3f3f3;
}*/
.nav-userinfo.nav > li .user-profile-menu {
  z-index: 1;
  right: 0;
  min-width: 300px;
}
.nav-userinfo.nav .user-profile-menu > li > a {
  position: relative;
  overflow-y: hidden;
}
.nav-userinfo.nav .user-profile-menu > li > a:before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  display: block;
  height: 1px;
  content: " ";
  background-color: #e6e6e6
}
.nav-userinfo.nav .user-profile-menu > li:last-child a {
  background-color: #fafafa;
}
.nav-userinfo.nav .user-profile-menu > li:last-child a:before {
  top: -1px;
  right: 0;
  left: 0;
  bottom: auto;
}
.nav-userinfo.nav > li .form-group {
  position: relative;
  margin: 0;
  padding: 22px 10px;
  min-width: 270px;
}
.nav-userinfo.nav > li .form-group input {
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  overflow: hidden;
}
.nav-userinfo.nav > li .form-group button.search {
  position: absolute;
  right: 11px;
  top: 23px;
  text-align: center;
  color: #777;
  background: none scroll 0 0 #fafafa;
  border: 0;
  border-left: 1px solid #e6e6e6;  
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  -webkit-text-stroke-width: .2px;  
  -webkit-transition: all 220ms ease-in-out;
  -moz-transition: all 220ms ease-in-out;
  -o-transition: all 220ms ease-in-out;
  transition: all 220ms ease-in-out;
}
.nav-userinfo.nav > li .form-group button.search i {
  width: 40px;
  height: 34px;
  line-height: 36px;
  font-size: 18px;
}
.nav-userinfo.nav > li .form-group button.search:hover {
  color: #fff;
  background-color: rgba(91, 192, 222, 0.8);
  border-color: rgba(91, 192, 222, 0.8);
}
@media (max-width: 767px) {
  .nav-userinfo.nav > li .form-group {
    padding: 15px 20px;
    border-top: 1px solid #e6e6e6;
  }
  .nav-userinfo.nav > li .form-group input {
    font-size: 14px;
  }
  .nav-userinfo.nav > li .form-group button.search {
    top: 16px;
    right: 21px;
  }
  .nav-userinfo.nav > li.pull-right {
    float: none !important;
  }
}

.page-aside {
  position: fixed;
  z-index: 6;
  width: 200px;
  height: 100%;
  font-size: 14px;
  background-color: #3a3f51;
}
.page-aside:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: inherit;
  background-color: inherit;
  border: inherit;
  content: "";
}
.page-body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.page-body:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  background-color: #eee;
  border: inherit;
  content: "";
}
.page-body-fixed{
  padding-top: 79px;
}
.page-content {
  padding: 20px;
  padding-top: 0;
  height: 100%;
  font-size: 12px;
  background-color: #eee;
}
.page-content:before,
.page-content:after {
  display: table;
  content: " ";
}
.page-content:after {
  clear: both;
}

@media (min-width: 768px) {
  .navbar-header{
    width: 200px;
    height: 80px;
    line-height: 80px;
  }
  .page-content,
  .navbar-collapse {
    margin-left: 200px;
  }
  .page-aside-folded .navbar-header,  
  .page-aside-folded .page-aside {
    width: 80px;
  }
  .page-aside-folded .navbar-collapse,
  .page-aside-folded .page-content {
    margin-left: 80px;
  }
  .page-aside-folded .navbar-header .navbar-brand {
    padding: 10px;
  }
  .page-aside-folded .navbar-header .navbar-brand img {
    width: 60px;
  }
  .navbar-collapse.collapse .navbar-nav > a {
    padding: 0 20px;
    line-height: 80px;
  }
  .navbar-collapse.collapse .navbar-nav > li > a {
    padding: 0 20px;
    min-width: 100px;
    line-height: 80px;
    text-align: center;
  }  
  .navbar-collapse.collapse .navbar-nav.navbar-right {
    padding: 0 10px 0 0;
  }
  .navbar-collapse.collapse .navbar-nav.navbar-right > li > a {    
    padding: 0 10px;
    min-width: 60px;
  }
  /*.nav-userinfo.nav {
    font-size: 12px;
  }*/
  .page-aside-folded .hidden-folded {
    display: none !important;
  }
  .page-aside-folded .visible-folded {
    display: inherit;
  }
}

@media (max-width: 767px) {
  .page-body {
      overflow-x: hidden;
  }  
  .page-body-fixed {
    padding-top: 60px;
  }
  .navbar-header {
    min-height: 60px;
  }
  .navbar-header .navbar-brand {
    padding: 0 0 0 20px;
    height: 60px;
  }
  .navbar-header .navbar-brand > img {
    width: 60px;
  }
  .navbar-header .navbar-brand .hidden-folded {
    display: none;
  }
  .navbar-collapse.collapse .navbar-nav > li > a {
    padding: 15px 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-collapse.collapse .navbar-nav > li > a .up {
    top: -1px;
  }
  .navbar-collapse.collapse .navbar-nav > li > a .thumb-sm {
    margin-top: -5px;
    width: 30px;
  }
  .navbar-collapse.collapse .navbar-nav > li > a .pull-left {
    float: none !important;
  }
  .nav-userinfo.nav > li .dropdown-menu.user-profile-menu > li:first-child > a:after {
    position: absolute;
    top: 1px;
    right: 20px;
    left: 20px;
    display: block;
    height: 1px;
    content: " ";
    background-color: #e6e6e6;
  }
  .pull-right-xs {
    float: right !important;
  }  
}

.nav-sub {
  display: none;
  margin-left: -20px;
  height: 0;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
}
.active .nav-sub,
.page-aside-folded li:hover .nav-sub,
.page-aside-folded li:focus .nav-sub,
.page-aside-folded li:active .nav-sub {
  display: block;
  margin-left: 0;
  height: auto !important;
  background-color: #2e3344;
  opacity: 1;
}

.nav-wrap .nav li a {
  padding: 15px 20px;
  text-transform: none;
  -webkit-transition: background-color 0.2s ease-in-out 0s;
          transition: background-color 0.2s ease-in-out 0s;
}
.nav-wrap .nav > li > a {
  color: #b4b6bd;
}
.nav-wrap .nav > li:hover > a,
.nav-wrap .nav > li:focus > a,
.nav-wrap .nav > li.active > a {
  color: #fff;
  background-color: #2e3344;
}
.nav-wrap ul.nav > li > a:hover,
.nav-wrap ul.nav > li > a:focus {
  background-color: #32374a;
}
.nav-wrap ul.nav > li > a.badge.badge-info {
  position: absolute;
  z-index: 999;
  top: 12px;
  right: 20px;
  padding: 3px 5px 2px;
  margin: 0;
  color: #fff;
  background-color: #40bbea;
}
.nav-wrap .nav > li > a.auto:before {
  position: relative;
  float: right;
  display: inline-block;
  margin-left: 10px;
  content: '\e74c';
  font-family: 'FontAwesome';
  color: #6d747a;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.nav-wrap .nav > li.active > a.auto:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);  
}
.nav-wrap .nav li a > i {
  position: relative;
  float: left;
  width: 40px;
  margin: -10px -10px;
  margin-right: 5px;
  overflow: hidden;
  line-height: 40px;
  text-align: center;
}
.nav-wrap .nav li a > i:before {
  position: relative;
  z-index: 2;
}
.nav-wrap .nav li a i.icon-new {
  position: relative;
  top: -2px;
  left: 4px;
  font-size: 28px;
}
.nav-wrap .nav li a i.icon-hot1 {
  position: relative;
  top: -2px;
  left: 4px;
  font-size: 28px;
}
.nav-wrap .nav li a .badge,
.nav-wrap .nav li a .label {
  padding: 3px 5px 2px;
  margin-top: 2px;
}
.nav-wrap .nav li a .up {
  position: absolute;
  top: 10px;
  right: -6px;
  padding-top: 1px;
  margin-right: 25px;
  min-width: 32px;
  text-align: center;
  vertical-align: 1px;
}
.nav-wrap .nav li li a {
  padding: 12px 20px;
  padding-left: 55px;
  font-size: 12px;
}

.nav-wrap .area-box{
  padding: 20px;
  color: #b4b6bd;
}
.nav-wrap .area-box img {
  display: inline-block;
  margin-right: 5px;
  width: 24px;
  height: auto;
  vertical-align: -2px;
}
.nav-wrap .area-box span.small {
  vertical-align: 1px;
}
.nav-wrap .area-box li {
  position: relative;
}
.nav-wrap .area-box li > a {
  display: inline-block;
  padding: 0 5px 0 10px;
  color: #b4b6bd;
}
.nav-wrap .area-box li > a:hover,
.nav-wrap .area-box li > a:focus {
  color: #fff;
}
.nav-wrap .area-box .dropdown-menu{
  margin: 2px 0px 0;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #eee;
}
.nav-wrap .area-box .dropdown-menu li {
  padding: 2px;
}
.nav-wrap .area-box .dropdown-menu a {
  display: block;
  padding: 5px;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  border: 1px solid #fff;
}
.nav-wrap .area-box .dropdown-menu a:hover{
  color: #31b0d5;
  border: 1px solid #bce8f1;
}

@media (min-width: 768px) {
  .page-aside-folded .nav-wrap > ul > li > a {
    position: relative;
    padding: 0;
    height: 50px;
    text-align: center;
    border: none;
  }
  .page-aside-folded .nav-wrap .nav > li > a:before{
    display: none;
  }
  .page-aside-folded .nav-wrap > ul > li > a span {
    display: none;
  }
  .page-aside-folded .nav-wrap > ul > li > a i {
    float: none;
    display: block;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 50px;
    border: none !important;
  }
  .page-aside-folded .nav-wrap a.badge.badge-info {
    display: none !important;
  }
  .page-aside-folded .nav-wrap > ul > li > a .badge,
  .page-aside-folded .nav-wrap > ul > li > a .label {
    position: absolute;
    top: 8px;
    right: 20px;
    z-index: 3;
  }
  .page-aside-folded .nav-wrap > ul ul {
    position: absolute;
    top: 0 !important;
    left: 100%;
    display: none;
    z-index: 1050;
    width: 200px;
    height: 0 !important;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .page-aside-folded .nav-wrap li li a {
    padding-left: 20px !important;
  }
  .page-aside-folded .nav-wrap .area-box li {
    text-align: center;
  }
  .page-aside-folded .nav-wrap .area-box li > span,
  .page-aside-folded .nav-wrap .area-box li > a {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .page-content {
    padding: 0;
    /*padding-top: 20px;*/
    -webkit-transition: -webkit-transform 0.2s ease;
       -moz-transition: -moz-transform 0.2s ease;
         -o-transition: -o-transform 0.2s ease;
            transition: transform 0.2s ease;
  }
  .off-screen {
    /*position: absolute;*/
    top: 60px;
    bottom: 0;
    z-index: 1023;
    display: block !important;
    width: 75%;
    height: auto;
    visibility: visible;
    -webkit-overflow-scrolling: touch;
  }
  .off-screen + * {
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1015;
    width: 100%;
    padding-top: 60px;
    overflow: hidden;
    background-color: #f0f3f4;
    -webkit-transform: translate3d(75%, 0, 0px);
            transform: translate3d(75%, 0, 0px);
    -webkit-transition: -webkit-transform 0.2s ease;
       -moz-transition: -moz-transform 0.2s ease;
         -o-transition: -o-transform 0.2s ease;
            transition: transform 0.2s ease;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .off-screen + * .off-screen-toggle {
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    display: block !important;
  }
  .off-screen.pull-right {
    right: 0;
  }
  .off-screen.pull-right + * {
    -webkit-transform: translate3d(-75%, 0, 0px);
            transform: translate3d(-75%, 0, 0px);
  }
}






