/* details-list begin */
.details-list {
  padding: 0px;
  background-color: #fff;
}

.details-list .details-header {
  position: relative;
  padding: 20px;
  padding-right: 0;
  margin-top: 10px;
  overflow: hidden;
  background-color: #fff;
}
.details-list .details-header:before {
  position: absolute;
  top: 10px;
  left: 0px;
  bottom: 10px;
  display: block;
  width: 2px;
  content: " ";
  background-color: #5bc0de;
}
.details-list.collapsed .details-header {
  border-bottom: 1px solid #e6e6e6;
}
.details-list .details-header .btn.btn-warning {
  position: absolute;
  top: -7px;
  right: 10px;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

.details-list .details-header .details-options a {
  vertical-align: -2px;
}
.details-list .details-header .details-options a:after {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-family: 'FontAwesome';
  text-align: center;
  vertical-align: 0;
  content: '\e75b';
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.details-list.collapsed .details-header .details-options a:after {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.details-list > .details-header .details-options a[data-toggle="details-list"] span {
  display: inline-block;
  width: 45px;
}
.details-list > .details-header .details-options a[data-toggle="details-list"] span.expand-icon {
  display: none;
}

.details-list.collapsed > .details-header .details-options a[data-toggle="details-list"] .collapse-icon {
  display: none;
}
.details-list.collapsed > .details-header .details-options a[data-toggle="details-list"] .expand-icon {
  display: inline-block;
}
.details-list.collapsed > .details-body,
.details-list.collapsed > .table {
  display: none;
}

.details-list .details-body {
  padding: 20px;
  margin-top: 10px;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
}
/* details-list close */




@media (min-width: 992px) and (max-width: 1199px) {
  .page-md-content {
    min-width: 980px;
  }
  .page-md-content .table-responsive {
    overflow: hidden !important;
  }
}
@media (min-width: 1200px) {  
  .page-lg-content {
    min-width: 980px;
  }
  .page-lg-content .table-responsive {
    overflow: hidden !important;
  }
}











