.panel.panel-industry {
  z-index: 5;
}
.panel.panel-industry .panel-body {
  padding: 10px 20px;
}

/* nav.nav-industry begin */
.nav.nav-industry{
  position: relative;
  margin: 0 -10px;
}
.nav.nav-industry li {
  float: left;
  padding: 10px;
  width: 20%;
  line-height: 1;
  text-align: center;
}
.nav.nav-industry  li a {
  position: relative;
  z-index: 1;
  display: block;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: no-break;
  white-space: nowrap;
}
.nav.nav-industry  li a:hover {
  color: #333;
  background-color: #eee; 
}
.nav.nav-industry  li a i{
  font-size: 18px;
}
.nav.nav-industry li.active a {
  color: #fff;
  background-color: #5bc0de;
  border: 1px solid #5bc0de;
}
.nav.nav-industry li .industry-all a {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 2;
  padding: 16px 0;
  width: 48px;
  font-size: 19px;
  line-height: .9;
  color: #fff;
  background-color: #5bc0de;
  border: none;
}
.nav.nav-industry li .industry-all a:hover {
  background-color: #31b0d5;
}
.nav.nav-industry li.active .industry-all a {
  background-color: #31b0d5;
}
.nav.nav-industry li.active .industry-screen a {
  padding: 16px 64px;
  color: #666;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}
.nav.nav-industry li.active .industry-screen a:hover,
.nav.nav-industry li.active .industry-screen a:hover::before {
  color: #333;
  background-color: #eee;
}
.nav.nav-industry li .industry-screen a::before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 0;
  width: 48px;
  content: "\e74b";
  font-family: 'FontAwesome';
  font-size: 18px;
  background-color: #f5f5f5;
  border-left: 1px solid #e6e6e6;
}
.nav.nav-industry li .industry-screen a:hover::before {
  color: #333;
  background-color: #eee;
}
.nav.nav-industry li .industry-hascollect a {
  padding-right: 60px;
  text-align: left;
}
.nav.nav-industry li .industry-dropdown {
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}
.nav.nav-industry li .industry-dropdown a {
  padding: 13px 0;
  width: 48px;
  background-color: #f5f5f5;
}
.nav.nav-industry li .industry-dropdown.open a {
  border: 1px solid #e6e6e6;
}
.nav.nav-industry li.active .industry-dropdown a {
  background-color: #5bc0de;
  border-left-color: #31b0d5;
}
.nav.nav-industry li .industry-dropdown a:hover {
  background-color: #eee;
}
.nav.nav-industry li.active .industry-dropdown.open a,
.nav.nav-industry li.active .industry-dropdown a:hover {
  background-color: #31b0d5;
}
.nav.nav-industry li .industry-collect a {
  background-color: #f5f5f5;
  border: 1px dashed  #e6e6e6;
}
.nav.nav-industry li .industry-collect a:hover,
.nav.nav-industry li.active .industry-collect a {
  color: #333;
  background-color: #eee;
  border: 1px solid #e6e6e6;
}
.nav.nav-industry li .industry-collect a i {
  vertical-align: -2px;
  line-height: .7;
}

.industry-dropdown-menu {
  top: 66px;
  width: 840px;
  left: 20px;
}
@media (max-width: 767px) {
  .nav.nav-industry li{
    width: 100%;
  } 
  .industry-dropdown-menu {
    width: auto;
    right: 20px;
  } 
}
@media (min-width: 768px) and (max-width: 991px) {
  .nav.nav-industry li{
    width: 100%;
  } 
  .industry-dropdown-menu {
    width: auto;
    right: 20px;
  }  
}
/* nav.nav-industry close */

/* panel.panel-sales begin */
.panel.panel-sales {
  z-index: 2;  
}
.panel.panel-sales .panel-heading {
  padding: 20px;
  padding-bottom: 0;
  border: 0;
}

.panel.panel-sales .panel-body {
  padding: 10px 20px;
} 
.panel.panel-sales .panel-body li {
  padding: 10px;
  text-align: center;
}
.panel.panel-sales .panel-body li > div {
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.panel.panel-sales .panel-body li p {
  font-size: 14px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: no-break;
  white-space: nowrap;
}
.panel.panel-sales .panel-body li h4 {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: no-break;
  white-space: nowrap;
}
/* panel.panel-sales close */

/* .panel.panel-charts begin */
.panel.panel-charts{
  z-index: 3;
  min-height: 300px;
}
.panel.panel-charts .panel-heading {
  padding: 20px;
  padding-bottom: 0;
  border: 0;
}

.panel.panel-charts .cont-linecharts {
  padding-top: 10px;
}
.panel.panel-charts .cont-linecharts .line-charts {
    width: 100%;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
}
.panel.panel-charts .cont-panescharts {
  padding-top: 10px;
}

.table-dataBox .table-data table.dataTable{
  margin: 0 !important;
}
.table-dataBox .table-data table.dataTable th:first-child{
  width: 50px !important;
}
.table-dataBox .table-data table.dataTable th:nth-child(3),
.table-dataBox .table-data table.dataTable th:last-child{
  width: 80px !important;
}

.table-dataBox .row{
  margin: 0;
}
.table-dataBox .row:last-child{
  margin-top: -1px;
  border: 1px solid #e6e6e6;
}
.table-dataBox .dataTables_wrapper .dataTables_paginate{
  padding: 10px 0 4px;
}
.table-dataBox .dataTables_wrapper .dataTables_info{
  padding-top: 14px;
}
.table-dataBox .pagination > li:first-child > a,
.table-dataBox .pagination > li:last-child > a{
  position: relative;
}
.table-dataBox .pagination > li:first-child > a:before{
  font-family: 'fontawesome';
  content: "\e75c";
}
.table-dataBox .pagination > li:last-child > a:before{
  font-family: 'fontawesome';
  content: "\e74c";
}

@media screen and (max-width: 480px) {
  .table-dataBox table.dataTable thead > tr > th, 
  .table-dataBox table.dataTable tbody > tr > td{
    max-width: 100px;
  }
  .table-dataBox .row .col-xs-6{
    width: 100%;
    text-align: right;
  }
}
@media screen and (max-width: 360px) {
  .table-dataBox table.dataTable thead > tr > th, 
  .table-dataBox table.dataTable tbody > tr > td{
    max-width: 60px;
  }
}
/* .panel.panel-charts  close */

.panel.panel-analysis {
  z-index: 5;  
}
.panel.panel-analysis .panel-heading {
  padding: 20px;
  padding-bottom: 0;
  border: 0;
}

