<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.pageTitle}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="newmorehot" />
    <meta name="_xsrf" content="{{.xsrf_token}}" />
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="{{.website}}css/iconfont.css" />
    <link rel="stylesheet" href="{{.website}}css/login.css" />
    <link rel="stylesheet" href="{{.website}}js/toastr/toastr.css" />
    <script type="text/javascript" src="{{.website}}js/jquery-2.1.1.min.js"></script>

</head>
<body>
    <div id="app">
        <div id="bg" >

            <div class="g-doc">
                <div class="m-body">
                    <div class="g-body">
                        <div class="container">

                            <div class="m-plogin">

                                <div class="login_container">
                                    <form class="login-form m-form" id="loginForm"
                                          method="post" action="{{urlfor "MainController.Login"}}">

                                        <h2 class="title">世桥海外登录</h2>
                                        <div class="m-form-group">

                                            <div class="m-input-group ">
                                                <input type="text" name="username" class="m-input m-input-large
                                                account-input" placeholder="世桥海外管理员账号">
                                                <div class="m-input-in-icon">
                                                    <i class="icomoon icon-clean"></i>
                                                    <i class="icomoon icon-user"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-form-group">
                                            <div class="m-input-group m-password-group ">
                                                <input type="password" name="password" class="m-input m-input-large password-input" placeholder="登录密码">
                                                <div class="m-input-in-icon">
                                                    <i class="icomoon icon-clean"></i>
                                                    <i class="icomoon icon-open-eye"></i>
                                                </div>
                                                <i class="icomoon icon-password"></i>
                                            </div>
                                        </div>

                                        <div class="m-form-group">
                                            <div class="m-input-group m-password-group ">
                                                <input type="text" name="captcha" class="m-input m-input-large
                                                password-input" placeholder="验证码" maxlength="6">
                                                <div class="m-input-in-icon">
                                                    <img id="captchaImg" alt="验证码" src="{{ .captcha.captchaUrl}}"
                                                         title="点击刷新" style="margin-top: -8px" >
                                                </div>
                                                <i class="icomoon icon-password"></i>
                                            </div>
                                        </div>

                                        <div class="f-clearfix">
                                            <div class="m-form-group z-small">
                                                <div class="m-checkbox-group" id="rememberPwd">
                                                  <i class="icomoon icon-checkbox checked "></i>
                                                  <span>15天免登录</span>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" name="captchaId" value="{{ .captcha.captchaId }}"/>
                                        <div class="m-form-group m-form-group-small">
                                            <button type="submit" class="m-btn m-btn-primary m-btn-large
                                            m-btn-submit" id="btnLogin">登&nbsp;&nbsp;录</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="{{.website}}js/cookie.min.js"></script>
<script type="text/javascript" src="{{.website}}js/ajax_extend.js"></script>
<script type="text/javascript" src="{{.website}}js/toastr/toastr.min.js"></script>
<script type="text/javascript" src="{{.website}}js/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript" src="{{.website}}js/jquery-validation/localization/messages_zh.js"></script>
<script>
    toastr.options = {
        "positionClass": "toast-top-center"
    }
</script>
<script type="text/javascript" src="{{.website}}js/login.js"></script>
</html>
