<title>{{.pageTitle}}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="newmorehot" />
<meta name="_xsrf" content="{{.xsrf_token}}" />

<link rel="icon" href="{{.website}}favicon.ico" type="image/x-icon"> <!-- Favicon-->
<link rel="stylesheet" href="{{static_url "assets/plugins/bootstrap/css/bootstrap.min.css"}}">
<link rel="stylesheet" href="{{static_url "assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css"}}"/>
<link rel="stylesheet" href="{{static_url "assets/css/main.css"}}" />
<!-- Custom Css -->
<link rel="stylesheet" href="{{static_url "assets/css/main.css"}}">
<link rel="stylesheet" href="{{static_url "assets/css/color_skins.css"}}">

<script type="text/javascript" src="{{static_url "assets/js/jquery-2.1.1.min.js"}}"></script>
<script type="text/javascript" src="{{static_url "assets/js/cookie.min.js"}}"></script>
<script type="text/javascript" src="{{static_url "assets/js/ajax_extend.js"}}"></script>



<link rel="stylesheet" href="{{static_url "assets/plugins/footable-bootstrap/css/footable.bootstrap.min.css"}}">
<link rel="stylesheet" href="{{static_url "assets/plugins/footable-bootstrap/css/footable.standalone.min.css"}}">
