<div>
    <div class="header___2jFCp">
        <div class="logo___2m_JN">
            <a href="/">
                <span>世桥海外</span></a>
        </div>
        <div class="headerContent___373wM">
            <div class="actions___3dFDO">
                <a href="{{urlfor "MainController.Logout"}}">退出</a></div>
            <div class="profile___RTV0Z">
                <span class="tagWrap___9c0p3">
                    <span class="cmsTag___Jwqme" style="color: rgb(30, 164, 132); background-color: rgb(203, 244, 234);">主</span></span>
                <span>weilanzhuan133@pingan.com.cn</span>
                <img src="{{.website}}images/user-img.png">
                {{/*<span class="tagWrap___9c0p3">*/}}
                    {{/*<span class="cmsTag___Jwqme" style="color: rgb(255, 255, 255); background-color: rgb(38, 203, 127);">*/}}
                        {{/*<span>试用</span></span>*/}}
                {{/*</span>*/}}
            </div>
        </div>
    </div>
    <div>

    </div>
</div>