<div class="sider___c3dmg oversea-layout-sider" style="display: block; overflow: auto; height: calc(100vh - 94px); position:
 fixed; flex: 0 0 180px; max-width: 180px; min-width: 180px; width: 180px;">
    <div class="oversea-layout-sider-children">
        <div class="sider___GHDQS">
            <ul class="oversea-menu oversea-menu-inline oversea-menu-light oversea-menu-root" role="menu" aria-activedescendant=""
                tabindex="0" style="border-right: none;">
                <li class="oversea-menu-item-selected oversea-menu-item menuTitleItem___czmzP menuActive___1nbJU menuTitleItem"
                    role="menuitem" aria-selected="true" style="padding-left: 24px;">
                    <a href="#/apps">
                        <i class="iconfont___48nuJ icon-sider-apps___3SgWm menuIcon___1QT7K menuIcon"></i>
                        首页
                    </a>
                </li>
                <li class=" oversea-menu-item-group">
                    <div class="oversea-menu-item-group-title">
                        <span class="title___1yn1w">
                            <i class="iconfont___48nuJ icon-sider-appstore___3D5jL menuIcon___1QT7K"></i>
                            系统管理
                        </span>
                    </div>
                    <ul class="oversea-menu-item-group-list">
                        <li class="oversea-menu-item menuItem___2mOoR "  style="padding-left: 24px;">
                            <a href="{{urlfor "AdminUserController.List"}}">管理员列表</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>