<!-- footer begin -->
<footer>
    <div class="panel panel-footer">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11 col-xs-10 g-c9">&copy; 2017 厦门xxxxxx有限公司</div>
                <div class="col-md-1 col-xs-2">
                    <div class="go-up pull-right">
                        <!-- <a rel="go-top" href="#"><span class="caret"></span></a>   --></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer close -->
