<title>{{.pageTitle}}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="renderer" content="webkit" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="newmorehot" />
<meta name="_xsrf" content="{{.xsrf_token}}" />
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="{{.website}}js/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" href="{{.website}}js/toastr/toastr.css" />
<script type="text/javascript" src="{{.website}}js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{.website}}js/cookie.min.js"></script>
<script type="text/javascript" src="{{.website}}js/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{.website}}js/ajax_extend.js"></script>
<script type="text/javascript" src="{{.website}}js/toastr/toastr.min.js"></script>
<script>
    toastr.options = {
        "positionClass": "toast-top-center"
    }
</script>
<link rel="stylesheet" href="{{.website}}js/fancynav/fancynav.min.css">
<link rel="stylesheet" href="{{.website}}css/basic.css" />
