<header class="hidden-xs" id="demo2">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h6 class="h_brand">欢迎来到弘域海外-专业服务，铸造极致品质！</h6>
            </div>
        {{/*<div class="col-sm-4">*/}}
        {{/*<h6><a href="http://my.hyimmi.com/">ENGLISH</a></h6>*/}}
        {{/*<h6><a href="">中文</a></h6>*/}}
        {{/*</div>*/}}
        </div>
    </div>
</header>
<!--菜单开始-->
<!-- Fixed navbar -->
<div class="navbar navbar-default" id="demo">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
        </ul>
    </div>
</div>
<!--菜单结束-->