<header class="hidden-xs">
   <div class="container">
     <div class="row">
       <div class="col-sm-8">
         <h6 class="h_brand">欢迎来到弘域海外-专业服务，铸造极致品质！</h6>
       </div>
       {{/*<div class="col-sm-4">*/}}
         {{/*<h6><a href="http://my.hyimmi.com/">ENGLISH</a></h6>*/}}
         {{/*<h6><a href="">中文</a></h6>*/}}
       {{/*</div>*/}}
     </div>
   </div>
</header>

<section class="top hidden-xs">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 logo">
              <a href=""><img class="img-responsive" src="{{.website}}images/logo.png" alt="弘域海外__投资移民__澳洲移民" title="弘域海外__投资移民__澳洲移民"></a>
          </div>
          <div class="col-sm-6 hotline">
       <!--<h4>24小时咨询热线:400-048-1611</h4>-->
       <h5 class="phone_number">400-048-1611</h5>
       <img class="img-responsive phone_img" src="{{.website}}images/phone.png">
    </div>
      </div>
  </div>
</section>

<!--菜单开始-->
<section class="menus">
    <div class="container menus_container" style="padding-left: 0px;">
        <!--固定导航-->
        <div class="row hidden-xs fixation_pc_nav">
            <div class="col-sm-12">
                <div class="menus_nav">
                    <ul>
                        <li class="menus_nav_li">
                            <a href="/Home/Index/index.html" class="mainNav">首页</a></li>
                        <li class="menus_nav_li">
                            <a href="/Home/Index/countries_page_gather.html" class="mainNav">移民国家</a>
                            <div class="menu_lists" style="display: none; top: 65px;">
                                <ul>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/8.html">澳大利亚</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/9.html">新西兰</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/10.html">加拿大</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/11.html">西班牙</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/12.html">爱尔兰</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/13.html">葡萄牙</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/14.html">塞浦路斯</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/15.html">圣基茨</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/16.html">马耳他</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/17.html">瓦努阿图</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/18.html">香港</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/19.html">英国</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/20.html">美国</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/21.html">意大利</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/22.html">安提瓜</a></li>
                                    <li>
                                        <a href="/Home/Index/countries_page/id/23.html">希腊</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="menus_nav_li">
                            <a href="http://www.hyimmi.com/Home/Index/pro_selection.html" class="mainNav">项目甄选</a></li>
                        <li class="menus_nav_li">
                            <a href="/Home/Index/about_hyimmi.html" class="mainNav">关于弘域</a>
                            <div class="about_hyimmi" style="top: 65px; display: none;">
                                <ul>
                                    <li>
                                        <a href="/Home/Index/active_page.html">弘域活动</a></li>
                                    <li>
                                        <a href="/Home/Index/advantage_page.html">弘域优势</a></li>
                                    <li>
                                        <a href="/Home/Index/newsList/categoryid/9.html">成功案例</a></li>
                                    <li>
                                        <a href="/Home/Index/about_hyimmi.html">关于弘域</a></li>
                                    <li>
                                        <a href="/Home/Index/contact_us.html">联系我们</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--滚动导航-->
        <div class="row hidden-xs pc_nav" style="display: none;">
            <div class="pc_nav_main">
                <div class="col-sm-2 small_logo">
                    <img class="img-responsive center-block" src="{{.website}}images/s_logo.png"></div>
                <div class="col-sm-10">
                    <div class="menus_nav">
                        <ul>
                            <li class="menus_nav_li">
                                <a href="/Home/Index/index.html" class="mainNav">首页</a></li>
                            <li class="menus_nav_li">
                                <a href="/Home/Index/countries_page_gather.html" class="mainNav">移民国家</a>
                                <div class="menu_lists" style="top: 65px;">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/8.html">澳大利亚</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/9.html">新西兰</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/10.html">加拿大</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/11.html">西班牙</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/12.html">爱尔兰</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/13.html">葡萄牙</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/14.html">塞浦路斯</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/15.html">圣基茨</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/16.html">马耳他</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/17.html">瓦努阿图</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/18.html">香港</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/19.html">英国</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/20.html">美国</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/21.html">意大利</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/22.html">安提瓜</a></li>
                                        <li>
                                            <a href="/Home/Index/countries_page/id/23.html">希腊</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="menus_nav_li">
                                <a href="http://www.hyimmi.com/Home/Index/pro_selection.html" class="mainNav">项目甄选</a></li>
                            <li class="menus_nav_li">
                                <a href="/Home/Index/about_hyimmi.html" class="mainNav">关于弘域</a>
                                <div class="about_hyimmi" style="top: 65px;">
                                    <ul>
                                        <li>
                                            <a href="/Home/Index/active_page.html">弘域活动</a></li>
                                        <li>
                                            <a href="/Home/Index/advantage_page.html">弘域优势</a></li>
                                        <li>
                                            <a href="/Home/Index/newsList/categoryid/9.html">成功案例</a></li>
                                        <li>
                                            <a href="/Home/Index/about_hyimmi.html">关于弘域</a></li>
                                        <li>
                                            <a href="/Home/Index/contact_us.html">联系我们</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--移动端显示-->
        <div class="row visible-xs menu_button">
            <div class="col-sm-12">
                <div class="wrapper">
                    <div class="column demo-buttons">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="m_s_logo">
                            <img class="img-responsive" src="http://oms8e6h6f.bkt.clouddn.com/all/png/m_s_logo.png"></div>
                    </div>
                    <ul class="demolist fancynav-add" style="display: none;">
                        <li>
                            <a href="/Home/Index/index.html">首页</a></li>
                        <li>
                            <a href="/Home/Index/countries_page_gather.html">移民国家</a>
                            <ul>
                                <li>
                                    <a href="/Home/Index/countries_page/id/8.html">澳大利亚</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/9.html">新西兰</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/10.html">加拿大</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/11.html">西班牙</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/12.html">爱尔兰</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/13.html">葡萄牙</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/14.html">塞浦路斯</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/15.html">圣基茨</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/16.html">马耳他</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/17.html">瓦努阿图</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/18.html">香港</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/19.html">英国</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/20.html">美国</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/21.html">意大利</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/22.html">安提瓜</a></li>
                                <li>
                                    <a href="/Home/Index/countries_page/id/23.html">希腊</a></li>
                            </ul>
                        </li>
                        <li class="menus_nav_li">
                            <a href="http://www.hyimmi.com/Home/Index/pro_selection.html" class="mainNav">项目甄选</a></li>
                        <li class="">
                            <a href="/Home/User/m_migration_first.html">移民评估</a></li>
                        <li>
                            <a href="/Home/Index/about_hyimmi.html">关于弘域</a>
                            <ul>
                                <li>
                                    <a href="/Home/Index/active_page.html">弘域活动</a></li>
                                <li>
                                    <a href="/Home/Index/advantage_page.html">弘域优势</a></li>
                                <li>
                                    <a href="/Home/Index/newsList/categoryid/9.html">成功案例</a></li>
                                <li>
                                    <a href="/Home/Index/about_hyimmi.html">关于弘域</a></li>
                                <li>
                                    <a href="/Home/Index/contact_us.html">联系我们</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--菜单结束-->